 *{
    margin:0;
    padding:0;
	box-sizing:border-box; 
 }
 body{
	background-image:url("books.jpg");
	background-size:cover;
}
 header{ 
       display:flex;
       justify-content:center;
}
 .logo, .top_menu{
	   margin-right:20px;
       display:inline-block;
       vertical-align:middle;
}

 .logo h1{
        vertical-align:middle;
        font-family:arial;
        font-size:40px;
}
 .top_menu li{
	      font-family:arial;
		  margin-right:20px;                           
          display:inline-block;
	      vertical-align:middle;
}		  
 .top_menu a{
	     vertical-align:middle;
		 font-family:arial;
         font-size:40px;
         color:black;
         text-decoration:none;
}
ul{
	display:flex;
	justify-content:column;
	list-style:none;
	background:yellow;
}		           	 
 ul li a:hover{
               background:green;
		       transform:scale(1,2)		 		 
 }
 ul li:hover ul{
	            display:block;
 }				
 footer{
	   background:yellow;
	   height:auto;
	   width:100vw
	   font-family:"Open sans";
	   padding-top:40px;
	   color:black;
}
 .footer-content{
                display:flex;
				align-items:center;
				justify-content:center;
				flex-direction:column;
				text-align:center;
}	 